# This is a basic workflow to help you get started with Actions

name: Test

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the '*' branch
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]
    tags: [ '*' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  test:
    name: Run test cases
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout github branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install lua, luarocks and busted
        run: .ci/scripts/install-deps.sh

      - name: Test
        run: |
          sudo luarocks make
          busted -c test/test.lua
          luacov

      - name: Run codecov script
        run: |
          wget https://codecov.io/bash
          bash bash -f "luacov.report.out" -U "-s" -A "-s"
